# IntelliJ project files
.idea/

# Compiled class files
*.class

# Compiled output
/out/

# IntelliJ workspace files
*.iml
*.iws

# Gradle files
.gradle/
build/

# Maven files
target/

# Eclipse files
.settings/
.classpath
.project

# Operating System-specific files
.DS_Store
Thumbs.db
